:root{
  --primary:#1d5888;
  --secondary:#ff993b;
}
main>.container {
  padding: 60px 15px 0;
  margin-bottom: 5rem;
}
.sticky-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100% ;
}

h1,h2,h3,h4,h5,h6{
   color:var(--primary)
}
